<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<style type="text/css">
			
			@import url('//code.jdrydn.com/css/bootstrap.min.css');
			@import url('//code.jdrydn.com/css/bootstrap-responsive.min.css');
			
			section.home {
				margin-top: 50px;
			}
				
				section.home ul {
					font-size: 18px;
					line-height: 20px;
				}
			
		</style>
		<title>{% if page.title %} {{ page.title }} &raquo; {% endif %}codewithportals</title>
	</head>
	<body>
		<div class="container">
			
{{ content }}
			
		</div>
	</body>
</html>